<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gy.commonviewdemo">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
   <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.gy.commonviewdemo.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="MissingClass">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

        <activity android:name="com.gy.commonviewdemo.cusview.edittext.EdittextActivity"/>
        <activity android:name=".webview.WebViewActivity"/>
        <activity android:name=".viewpager.ViewPagerActivity"/>
        <activity android:name=".systemui.SystemUiActivity"/>
        <activity android:name=".recyclerView.RvMainActivity"/>
        <activity android:name=".recyclerView.RvThreeDemo"/>
        <activity android:name=".cusview.threeD.CusView3DActivity"/>
        <activity android:name=".cusview.CusViewMainActivity"/>
        <activity android:name=".cusview.text.TextViewActivity"/>
        <activity android:name=".flow.FlowActivity"/>
        <activity android:name=".cusview.text.rich_text.RichTextActivity"/>
        <activity android:name=".cusview.text.rich_text.ImageSpanActivity"/>
        <activity android:name=".cusview.text.rich_text.ClickSpanActivity"/>
        <activity android:name=".cusview.text.rich_text.ReplacementSpanActivity"/>
        <activity android:name=".cusview.text.rich_text.SpanWatcherActivity"/>
    </application>

</manifest>