<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gy.commonviewdemo">

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <permission android:name = "com.android.permission.RECV_XXX"/>
    <uses-permission android:name="com.android.permission.RECV_XXX"></uses-permission>
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"/>
    <!--手机震动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--wifi-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.gy.commonviewdemo.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="MissingClass">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

        <!--authorities 是自己拼接Uri的时候content中拼接的内容 也就是AUTHORITY 对应的内容-->
        <!--content://"+ AUTHORITY+"/"+TABLE_NAME-->
        <provider
            android:authorities="com.gy.commonviewdemo.provider"
            android:name=".db.DataProvider"
            android:exported="true"/>

        <activity android:name="com.gy.commonviewdemo.cusview.edittext.EdittextActivity"/>
        <activity android:name=".webview.WebViewActivity"/>
        <activity android:name=".viewpager.ViewPagerActivity"/>
        <activity android:name=".systemui.SystemUiActivity"/>
        <activity android:name=".recyclerView.RvMainActivity"/>
        <activity android:name=".recyclerView.RvThreeDemo"/>
        <activity android:name=".cusview.threeD.CusView3DActivity"/>
        <activity android:name=".cusview.CusViewMainActivity"/>
        <activity android:name=".cusview.text.TextViewActivity"/>
        <activity android:name=".flow.FlowActivity"/>
        <activity android:name=".cusview.text.rich_text.RichTextActivity"/>
        <activity android:name=".cusview.text.rich_text.ImageSpanActivity"/>
        <activity android:name=".cusview.text.rich_text.ClickSpanActivity"/>
        <activity android:name=".cusview.text.rich_text.ReplacementSpanActivity"/>
        <activity android:name=".cusview.text.rich_text.SpanWatcherActivity"/>
        <activity android:name=".notification.NotificationActivity"/>
        <activity android:name=".notification.PendingActivity"/>
        <activity android:name=".db.ContentProviderActivity"/>
        <activity android:name=".clipboardManager.ClipBoardActivity"/>
        <activity android:name=".drag_and_drop.DragAndDropActivity"/>
        <activity android:name=".picture_in_picture.PictureInPictureActivity"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"/>

        <activity android:name=".rxjava.rxjava2.RxJava2Activity"/>

        <activity android:name=".recyclerView.RvScrollActivityOne"/>
        <activity android:name=".recyclerView.RvScrollActivityTwo"/>
        <activity android:name=".recyclerView.RvScrollActivityThree"/>

        <activity android:name=".statusbar.StatusBarActivity"/>
        <activity android:name=".cusview.text.SpanEnterActivity"/>
        <activity android:name=".cusview.text.rich_text.ReplaceSpanActivity"/>
        <activity android:name=".notification.NotificationMainActivity"/>
        <activity android:name=".notification.alerter.AlerterActivity"/>

        <activity android:name=".systemapi.SystemApiActivity"/>
        <activity android:name=".systemapi.HasOverlappingRenderingActivity"/>
        <activity android:name=".kotlin.KotlinActivity"/>
        <activity android:name=".kotlin.KotlinReadAndWriterActivity"/>
        <activity android:name=".cusview.text.scroll_textview.ScrollTextViewActivity"/>

        <service android:name=".binder.BinderService"
            android:process=":binder"
            android:exported="true">
            <intent-filter>
                <action android:name="com.gy.commonviewdemo.binder.BinderService"/>
            </intent-filter>
        </service>
        <activity android:name=".binder.BinderActivity"/>

        <activity android:name=".cusview.text.no_padding_textview.NoPaddingTextViewActivity"/>
        <activity android:name=".cusview.gradient.GradientActivity"/>
        <activity android:name=".recyclerView.VideoListPlayTimeActivity"/>
        <activity android:name=".recyclerView.RvLaneActivity"/>
        <activity android:name=".systemapi.TimerTaskActivity"/>
        <activity android:name=".systemapi.ValueAnimationActivity"/>
        <activity android:name=".recyclerView.RvCantScrollActivity"/>
        <activity android:name=".apt.spi.SpiActivity"/>
        <activity android:name=".accessibility.AccessibilityActivity"/>
        <activity android:name=".cusview.redpacket.RedPacketActivity"/>
        <activity android:name=".cusview.redpacket.FloatRedPacketActivity"/>
        <activity android:name=".cusview.anim.AnimActivity"/>
        <activity android:name=".cusview.triangle.TriangleActivity"/>
        <activity android:name=".constraint.ConstraintLayoutDemoActivity"/>
        <activity android:name=".cusview.shadow.ShadowActivity"/>
        <activity android:name=".drawable.DrawableActivity"/>
        <activity android:name=".camera.CameraActivity"/>

        <service android:name=".accessibility.MyAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility"/>
        </service>

        <activity android:name=".cusview.progress.ProgressActivity"/>

        <activity android:name=".kotlin.InfixActivity"/>

        <activity android:name=".recyclerView.RvUpdateActivity"/>

        <activity android:name=".cusview.duffXfermode.DuffXfermodeActivity"/>

        <activity android:name=".behavior.BehaviorMainActivity"/>

        <provider
            android:name=".ExternalStorageProvider"
            android:authorities="${applicationId}.keepalive"
            android:enabled="true"
            android:exported="true"
            android:syncable="true">
            <meta-data
                android:name="android.content.ContactDirectory"
                android:value="true" />
        </provider>

        <activity android:name=".wifi.WifiActivity"/>
        <activity android:name=".globaltouch.GlobalTouchActivity"/>

        <!--动态壁纸服务-->
        <service
            android:exported="true"
            android:name=".wallpaper.view.clock.TextClockWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/text_clock_wallpaper" />
        </service>

        <service
            android:exported="true"
            android:name=".wallpaper.gl.AdvanceGLWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/gl_3d_wallpaper" />
        </service>

        <service
            android:exported="true"
            android:name=".wallpaper.view.circle.NormalWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/gl_3d_wallpaper" />
        </service>

        <service
            android:exported="true"
            android:name=".wallpaper.mediaplayer.DynamicWallPaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/dynamic_wallpaper" />
        </service>

        <service
            android:exported="true"
            android:name=".wallpaper.camera.CameraLiveWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/camera_livewallpaper" />
        </service>

        <service
            android:exported="true"
            android:name=".wallpaper.drawimage.TestDrawImageWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/camera_livewallpaper" />
        </service>

        <service
            android:exported="true"
            android:name=".wallpaper.liveWallpaper3D.LiveWallpaper3DService"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/camera_livewallpaper" />
        </service>

        <service
            android:exported="true"
            android:name=".wallpaper.gl.GLWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/camera_livewallpaper" />
        </service>

        <activity android:name=".wallpaper.WallpagerActivity"/>
        <activity android:name=".sensor.SensorActivity"/>
        <activity android:name=".sensor.SensorTypeProximity"/>
        <activity android:name=".cusview.image3d.Image3DActivity"/>
        <activity android:name=".cusview.imagecloud.Tag3DActivity"/>
        <activity android:name=".viewpager.ViewPagerUpdateActivity"/>
        <activity android:name=".deviceadmin.DeviceAdminActivity"/>
        <receiver
            android:exported="true"
            android:name=".deviceadmin.DeviceManageReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
        </receiver>

    </application>

</manifest>